/* Reset styles

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6; 
}

h2 {
    font-size: 2rem;
    color: #f50380; 
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

label {
    font-size: 1rem;
    color: #f50380; 
    margin-bottom: 8px;
    font-weight: 600;
    text-align: right;
}

input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 2px solid #c7b8b0; 
    font-size: 1rem;
    background-color: #f9f4f1; 
    color: #f50380; 
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus {
    border-color: #f50380; 
    background-color: #fff; 
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #f50380; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 24px;
}

button:hover {
    background-color:#f50380; 
    transform: scale(1.05); 
}

button:focus {
    outline: none;
}


.text-red-500 {
    color: #ff4d4d; 
    font-size: 0.875rem;
    margin-top: 4px;
} */
